[MASTER]
init-hook='import os, sys; sys.path.append(os.path.dirname("."))'
extension-pkg-whitelist=pydantic
load-plugins=pylint_pydantic
ignore-paths=.venv,conftest.py

[MESSAGES CONTROL]
disable=missing-module-docstring

[FORMAT]
max-line-length=160

[DESIGN]
disable=R0903
